<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
       <strong>Salsatrackr</strong>
    </ion-title>
    <ion-buttons end>
      <button ion-button tappable>
        <ion-icon name="notifications"></ion-icon>
      </button>
      <button ion-button tappable>
        <ion-icon name="cog"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="animated fadeIn dark-bg" style="color:#e2cfcf !important;">

  <button ion-button icon-start block no-margin color="primary" class="round" tappable (click)="goToAddCoinView()">
    <ion-icon name="add"></ion-icon> Add a coin
  </button>

  <div *ngIf="saved_coins">
    <ion-card *ngFor="let coin of watchlist" (click)="goToCoinDetailView(coin.id)" style="background-color:#282b3a;">
      <ion-row>
        <ion-col col-8>
          <ion-row>
            <ion-col col-2>
              <ion-avatar item-start style="width:1em;height:1em;">
                <img [src]="coin.metadata.logo">
              </ion-avatar>
            </ion-col>
            <ion-col text-left col-10 class="ellipsis">
              <p style="color:#e2cfcf !important;"><b>{{coin.name}}</b></p>
            </ion-col>
          </ion-row>
          <ion-row>
            <p style="color:#e2cfcf !important;">{{coin.symbol}}/USD</p>
          </ion-row>
        </ion-col>
        <ion-col text-right col-4>
          <ion-row>
            <ion-col *ngIf="coin.quote['USD'].percent_change_24h > 0" text-right style="color:green;">
              +{{coin.quote["USD"].percent_change_24h}}%
            </ion-col>
            <ion-col *ngIf="coin.quote['USD'].percent_change_24h < 0" text-right style="color:red;">
              -{{coin.quote["USD"].percent_change_24h}}%
            </ion-col>
            <ion-col *ngIf="coin.quote['USD'].percent_change_24h == 0" text-right style="color:grey;">
              {{coin.quote["USD"].percent_change_24h}}%
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col style="color:#585858 !important;">
              <b>${{coin.quote["USD"].price}}</b>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>

</ion-content>
