<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
       <strong>Salsatrackr</strong>
    </ion-title>
    <ion-buttons end>
      <button ion-button tappable>
        <ion-icon name="notifications"></ion-icon>
      </button>
      <button ion-button tappable>
        <ion-icon name="cog"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="animated fadeIn dark-bg">
  <ion-item block no-margin class="round transparent-bg">
    <ion-label floating class="text-white">
      <ion-icon name="md-search" item-start class="text-primary"></ion-icon>
      Search coin
    </ion-label>
    <ion-input type="text" id="input_search" (keyup)="searchCoin()" [(ngModel)]="search_string" style="color:white;"></ion-input>
  </ion-item>

  <div *ngIf="coins.length > 0">
    <ion-card class="primary-bg">
      <ion-list>
        <ion-card-header style="color:white;">
          Coins listed on CoinMarketCap
        </ion-card-header>
        <button (click)="addSelectedCoin(coin)" *ngFor="let coin of coins" ion-item class="primary-bg" style="border-top: 1px solid black;">
            <span style="color:white;">#{{coin.cmc_rank}} - {{coin.symbol}}</span>
            <br>
            <span style="color:#9aadfd;">{{coin.name}}</span>
        </button>
      </ion-list>
    </ion-card>
  </div>
</ion-content>
