<ion-header>
  <ion-navbar color="primary">
    <ion-title *ngIf="loading == true" class="ellipsis">
      <ion-avatar item-start class="avatar-in-title">
        <img [src]="selected_coin.metadata.logo">
      </ion-avatar>
      <span>{{selected_coin.name}}</span>

    </ion-title>
    <ion-buttons end>
      <button ion-button tappable (click)="removeCoin(selected_coin.id)">
        <ion-icon name="trash" style="color:#b34040;"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding class="animated fadeIn dark-bg">
  <p class="card-outside-title">Price</p>
  <ion-card *ngIf="loading == true">
    <ion-row>
      <ion-col text-left>
        <h1>USD ${{selected_coin.listing.quote["USD"].price}}</h1>
        <h3 *ngIf="selected_coin.listing.quote['USD'].percent_change_24h > 0" style="color:green;">
          +{{selected_coin.listing.quote["USD"].percent_change_24h}}%
        </h3>
        <h3 *ngIf="selected_coin.listing.quote['USD'].percent_change_24h < 0" style="color:red;">
          -{{selected_coin.listing.quote["USD"].percent_change_24h}}%
        </h3>
        <h3 *ngIf="selected_coin.listing.quote['USD'].percent_change_24h == 0" style="color:grey;">
          {{selected_coin.listing.quote["USD"].percent_change_24h}}%
        </h3>
      </ion-col>
    </ion-row>
  </ion-card>
  <p class="card-outside-title">Global market</p>
  <ion-card *ngIf="loading == true">
    <ion-row>
      <ion-row>
        <ion-col text-left col-8 class="cap-header">
          Market cap
        </ion-col>
        <ion-col text-left col-4 class="cap-header">
          Rank
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col text-left col-8 class="cap-body">
          USD {{selected_coin.listing.quote["USD"].market_cap}}
        </ion-col>
        <ion-col text-left col-4 class="cap-body">
          #{{selected_coin.listing.cmc_rank}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-row>
          <ion-col text-left col-7 class="cap-header">
            Volume (24h)
          </ion-col>
          <ion-col text-left col-5 class="cap-header" style="font-size:0.9em;">
            Circulating Supply
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-left col-7 class="cap-body">
            USD {{selected_coin.listing.quote["USD"].volume_24h}}
          </ion-col>
          <ion-col text-left col-5 class="cap-body">
            {{selected_coin.listing.total_supply}} {{selected_coin.symbol}}
          </ion-col>
        </ion-row>
      </ion-row>
    </ion-row>
  </ion-card>
  <ion-card *ngIf="loading == true">
    <ion-list>
      <button ion-item tappable (click)="openUrl(selected_coin.metadata.website)" *ngIf="selected_coin.metadata.website != undefined" class="btn-link" style="border-top: 0.55px solid #232f61 !important;">
        <ion-icon name="globe" item-start></ion-icon> Website
      </button>
      <button ion-item tappable (click)="openUrl(selected_coin.metadata.source_code)" *ngIf="selected_coin.metadata.source_code != undefined" class="btn-link">
        <ion-icon name="logo-github" item-start></ion-icon> Source code
      </button>
      <button ion-item tappable (click)="openUrl(selected_coin.metadata.reddit)" *ngIf="selected_coin.metadata.reddit != undefined" class="btn-link">
        <ion-icon name="logo-reddit" item-start></ion-icon> Reddit
      </button>
      <button ion-item tappable (click)="openUrl(selected_coin.metadata.twitter)" *ngIf="selected_coin.metadata.twitter != undefined" class="btn-link">
        <ion-icon name="logo-twitter" item-start></ion-icon> Twitter
      </button>
    </ion-list>
  </ion-card>
</ion-content>
