page-coin-detail {
  ion-title {
    padding: 0 !important;
  }

  h1 {
    color: black;
    font-weight: bolder;
  }
  .btn-link {
    color: #232f61 !important;
    border-bottom: 0.55px solid #232f61 !important;
    border-top: 0 !important;
    background-color: transparent !important;
  }
  .card {
    background-color: #a8a8ad;
    border-radius: 0;
    padding: 1rem;
  }
  .card-outside-title {
    color: #232222;
    font-weight: bolder;
    padding-left: 1em;
    margin-bottom: -0.5em;
  }
  ion-row > ion-row {
    width: 100%;
  }
  .cap-header {
    color: #4a4a4a;
    font-weight: bolder;
    font-style: italic;
  }
  .cap-body {
    color: black;
    font-weight: bold;
  }
}
